<div class="menu-container">
  <div class="menu-close-btn">
    <svg x="0px" y="0px" width="30px" height="30px" viewBox="0 0 60 60">
      <line fill="none" stroke="#EDEDED" stroke-width="3" x1="58.307" y1="1.693" x2="1.693" y2="58.308"/>
      <line fill="none" stroke="#EDEDED" stroke-width="3" x1="58.307" y1="58.307" x2="1.692" y2="1.693"/>
    </svg>
  </div>

  {{navigation}}
</div>
