#----------------------------------------------------------------------------
# Dependencies
#----------------------------------------------------------------------------

/node_modules
/bower_components


#----------------------------------------------------------------------------
# MISC
#----------------------------------------------------------------------------

/dist
.*cache
*.log
cache/*
backup
_files
log
log/**/*
.monitor
Forwardfile
.env
.errors

# OS X Files
.DS_Store
Thumbs.db
*.swp
*.swo
*.lnk
*~
